body {
    height: 100%;
    font-size: 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: clip;
}

article, aside {
    flex-basis: 45%;
    flex-grow: 1;
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#editor-box {
    flex-basis: 75%;
    flex-grow: 1;
}

.CodeMirror {
    height: 100%;
}

#editor-controls {
    padding: 10px;
    display: flex;
}

#result-box {
    flex-basis: 75%;
}

#compil-result {
    height: 100%;
}

#console {
    max-height: 200px;
    flex-basis: 25%;
    overflow-y: auto;
    background-color: #f5f5f5;
}

ul#console {
    list-style-type: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 25px;
    padding-left: 5px;
}
ul#console li {
    border-bottom: solid 1px #80808038;
}

ul#console .console-error {
    color: red;
}
